* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  background-color: pink;
}

.col-2.nested,
.col-8.nested,
.col-6.nested {
  background-color: #ee335b;
  border: 1px solid white;

}

[class*="col-"] {
  height: 250px;
  border: 1px solid black;
  position: relative;
  padding: 10px;
  overflow-y: hidden;
}

.row p {
display: inline;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
